<ng-container *ngIf="isLoading; else content">
  <sh-loader></sh-loader>
</ng-container>

<ng-template #content>
  <ng-container *ngIf="imgDetail as img">

    <div>

      <p>
        <img
          [src]="img.user?.profile_image?.small"
          [alt]="img.user?.name || 'User'"
          [title]="img.user?.name || 'User'"
        />

        Taken By

        <a
          *ngIf="img.user?.instagram_username"
          [href]="'https://instagram.com/' + img.user.instagram_username"
          target="_blank"
        >
          {{ img.user?.name }}
        </a>

        <span *ngIf="!img.user?.instagram_username">
          {{ img.user?.name }}
        </span>
      </p>

      <p>
        Created At {{ img.created_at | date:'MMMM d, y' }}
      </p>

      <a
        *ngIf="img.links?.html"
        [href]="img.links.html"
        target="_blank"
      >
        <img
          loading="lazy"
          [src]="img.urls?.regular"
          [alt]="img.description || img.alt_description || 'Photo'"
          [title]="img.description || img.alt_description || 'Photo'"
        />
      </a>

      <p>
        {{ img.description || img.alt_description || 'No description' }}
      </p>

      <button (click)="goBack()">
        Go back
      </button>
    </div>
  </ng-container>
</ng-template>
