<ng-container *ngIf="isLoading; else content">
  <sh-loader></sh-loader>
</ng-container>

<ng-template #content>
  <ng-container *ngIf="imgDetail as img">
    <div>
      <p>
        <img
          [src]="img.user?.profile_image?.small"
          [alt]="img.user?.name || 'User'"
          [title]="img.user?.name || 'User'"
        />

        Tomada por:

        <a
          *ngIf="img.user?.instagram_username"
          [href]="'https://instagram.com/' + img.user.instagram_username"
          target="_blank"
        >
          {{ img.user?.name }}
        </a>

        <span *ngIf="!img.user?.instagram_username">
          {{ img.user?.name }}
        </span>
      </p>

      <p>Creado el {{ img.created_at | date: 'dd/MM/yyyy' }}</p>

      <a *ngIf="img.links?.html" [href]="img.links.html" target="_blank">
        <img
          loading="lazy"
          [src]="img.urls?.regular"
          [alt]="img.alternative_slugs.es?.replaceAll('-', ' ') || img.description || img.alt_description || 'Foto'"
          [title]="img.alternative_slugs.es?.replaceAll('-', ' ') || img.description || img.alt_description || 'Foto'"
        />
      </a>

      <p>
        {{
          img.alternative_slugs.es?.replaceAll('-', ' ') || img.description || img.alt_description || 'Sin descripción'
        }}
      </p>

      <button (click)="goBack()">Go back</button>
    </div>
  </ng-container>
</ng-template>
