{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 177,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": "*.json",
      "options": {
        "printWidth": 100,
        "tabWidth": 2
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always",

        "printWidth": 80
      }
    }
  ],

  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "requirePragma": false,
  "insertPragma": false,
  "vueIndentScriptAndStyle": true,
  "rangeStart": 0
}
