<h1>
  Form Builder
</h1>

<form [formGroup]="formCompany" (ngSubmit)="sendData()">
  <div class="ctn-input">
    <label for="nit_company">Nit</label>
    <input id="nit_company" formControlName="nit_company" type="text">

    <div class="error" [hidden]="nit_company.pristine">
      <p *ngIf="nit_company.errors?.['required']">El nit es requerido</p>
      <p *ngIf="nit_company.errors?.['minlength']">El nit debe tener por lo menos 10 carácteres</p>
    </div>
  </div>

  <div class="ctn-input">
    <label for="email_company">Company Email</label>
    <input id="email_company" formControlName="email_company" type="email">

    <div class="error" [hidden]="email_company.pristine">
      <p *ngIf="email_company.errors?.['required']">El email es requerido</p>
      <p *ngIf="email_company.errors?.['email']">Debe ser formato email</p>
    </div>
  </div>

  <div class="ctn-btns-form">
    <button type="submit" [disabled]="nit_company.invalid || email_company.invalid">
      Send
    </button>
  </div>
</form>

{{ formCompany.value | json }}
