<h1>
  Form Control
</h1>

<form (ngSubmit)="sendData()">
  <div class="ctn-input">
    <label for="nitCompany">Nit</label>
    <input id="nitCompany" [formControl]="nitCompany" type="text">

    <div class="error" [hidden]="nitCompany.pristine">
      <p *ngIf="nitCompany.errors?.['required']">El nit es requerido</p>
      <p *ngIf="nitCompany.errors?.['minlength']">El nit debe tener por lo menos 10 carácteres</p>
    </div>
  </div>

  <div class="ctn-input">
    <label for="emailCompany">Company Email</label>
    <input id="emailCompany" [formControl]="emailCompany" type="email">

    <div class="error" [hidden]="emailCompany.pristine">
      <p *ngIf="emailCompany.errors?.['required']">El email es requerido</p>
      <p *ngIf="emailCompany.errors?.['email']">Debe ser formato email</p>
    </div>
  </div>

  <div class="ctn-btns-form">
    <button type="submit" [disabled]="nitCompany.invalid || emailCompany.invalid">
      Send
    </button>
  </div>
</form>

{{ nitCompany.value | json }}
{{ emailCompany.value | json }}
