<section>
  <div class="noise"></div>
  <div class="overlay"></div>

  <div class="terminal">
    <h1>Error <span class="errorcode">404</span></h1>
    <p class="output">La página que estás buscando puede haber sido eliminada, haber cambiado de nombre o estar temporalmente no disponible.</p>
    <p class="output">
      Por favor intenta:
      <a class="returning-link" (click)="goBack()">Volver a la pag anterior</a> o
      <a class="returning-link" [routerLink]="['/home']">Volver al inicio</a>.
    </p>
    <p class="output">Buena suerte 😁</p>
  </div>
</section>

