<sh-title txt="Fotos"></sh-title>

<div class="searcher">
  <label>
    Buscar:
    <input
      type="search"
      placeholder="City"
      list="animals"
      [(ngModel)]="searcher"
      (ngModelChange)="onSearchChange($event)"
    />
  </label>

  <datalist id="animals">
    <option value="León">León</option>
    <option value="Pájaro">Pájaro</option>
    <option value="Gato">Gato</option>
    <option value="Perro">Perro</option>
    <option value="Cerdo">Cerdo</option>
  </datalist>
</div>

<sh-loader *ngIf="isLoading"> Cargando... </sh-loader>

<h1 *ngIf="hasSearched && !isLoading && !photos?.length">No hay resultados</h1>

<div *ngIf="!isLoading && photos?.length" class="ctn-photos">
  <a [routerLink]="[p.id]" *ngFor="let p of photos; trackBy: trackByPhoto">
    <img
      loading="lazy"
      [src]="p?.urls?.regular"
      [title]="p.alternative_slugs.es?.replaceAll('-', ' ') || p?.description || p?.alt_description || 'Foto'"
      [alt]="p.alternative_slugs.es?.replaceAll('-', ' ') || p?.description || p?.alt_description || 'Foto'"
    />
  </a>
</div>
