.ctn-photos {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
  text-align: center;
  padding: 2rem;

  & img {
    max-width: 100%;
  }
}

h1 {
  font-size: 4rem;
  text-align: center;
}

.searcher {
  background-color: #1c1c1c;
  margin-block: 2rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  & label,
  & input {
    margin-block: 1rem;
    display: block;
    margin-inline: auto;
    width: 75%;
    font-size: 2rem;
  }
}
