:host {
  --size-title: 5rem;
}

.box {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
  margin-block: 1rem;
  text-align: center;
}

.box .lightbar {
	animation: animate-light-bar 1s 2 alternate forwards;
	background-color: #000000;
	border-radius: 10px;
	box-shadow: 0 0 10px #009b46,
							 0 0 20px #009b46,
							 0 0 40px #009b46,
							 0 0 80px #009b46,
							 0 0 120px #009b46;
	height: 100%;
	left: calc(50% - calc(var(--size-title) * 3));
	position: absolute;
	top: 0;
  will-change: transform;
	width: 10px;
	z-index: 2;
}

.box h2 {
	color: #000000;
  font-size: var(--size-title);
	letter-spacing: 0.1rem;
}

@keyframes animate-light-bar {
	0%,
	5% {
		transform: scaleY(0) translateX(0);
	}

	10% {
		transform: scaleY(1) translateX(0);
	}

	90% {
		transform: scaleY(1) translateX(calc(var(--size-title) * 6));
	}

	95%,
	100% {
		transform: scaleY(0) translateX(calc(var(--size-title) * 6));
	}
}
